{% extends "blog/base.html" %}
 {% block content %}
 <div class="text-center">
   <h1>About this blog site is nothing</h1>

   <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum minus
     aut eos perferendis ducimus dolorum inventore ea quaerat dolor repellat quis
     asperiores obcaecati, reiciendis, mollitia eveniet incidunt illo vero,
     molestias placeat quas. Natus quaerat molestiae vitae magni laudantium ipsam
     dignissimos, ad placeat! Recusandae quaerat dolores autem fuga qui eligendi
     eaque nobis explicabo nulla molestias consequatur ducimus libero, esse
     praesentium temporibus rerum veritatis aperiam placeat similique fugit maxime
     illo. Vitae, amet accusamus! Deserunt vitae eos velit, quisquam iure aperiam
     tempore voluptas ad, totam fugiat earum eius minima architecto. Molestias enim
     dolor a qui natus harum error id neque asperiores cum.
   </p>
 </div>
{% endblock content %}
